body {
    background: url('../images/background1.jpg') no-repeat center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;    
    margin: 0;
    padding: 0;
    color: white;
}

header {
    background: linear-gradient(0.7turn, rgba(153, 7, 2, 0.7), rgba(3, 16, 134, 0.7)), url('../images/dmcwallpaper.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
    padding:  20px 0;
}

.header-logo img {
    height: 100px;
    margin: 0 45%;
}
.clanak{
    background: linear-gradient(0.6turn,  #8d0e0d, #01039b);
    padding: 20px;
    border-radius: 20px;
}

nav {
    background: linear-gradient(0.6turn,  #8d0e0d, #01039b);
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
    border-radius: 5px;
    padding: 5px 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

main .clanak {
    width: 60%;
    margin: 0 auto;
}

.clanak h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

.kratki-sadrzaj {
    font-style: italic;
    margin-bottom: 20px;
}

.clanak img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.datum {
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
}

.tekst {
    margin-top: 20px;
}

footer {
    background: linear-gradient(0.6turn,  #8d0e0d, #01039b);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    
    position: relative;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 5px 10px;
}

@media (max-width: 600px) {
    nav ul li {
      display: block;
      margin: 0 15px;
      padding-bottom: 40px;
    }
  
    header {
      height: 38rem;
    }
  
    footer {
      font-size: 0.8em;
    }
  }